
body {
    margin-top: 10px;
    outline: none;
    display: flex;
    align-items: flex-start;
    background: #1D1B26;
}

.conteiner {
  background-color: #1D1B26;
}

#ball {
    display: block;
    border: 2px solid #fe2e00
}

.reset__btn{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  transition: .8s cubic-bezier(.165,.84,.44,1);
  background-color: #1D1B26;
}
.reset__btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  transition: .8s cubic-bezier(.165,.84,.44,1);
}

.reset__btn:hover {background: rgba(255,255,255,0);}
.reset__btn:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

